<h1>Редактирование данных</h1>


<%= form_for(@user) do |f| %>
	<table>
		<td>
			<%= render 'field', :f=>f %>

			<div class="actions">
				<%= f.submit "Sign up" %>
			</div>

		</td>
		<td>
			<div class="link">
				<%= gravatar_for @user %>
			</div>

			<div class="link">
				<%= link_to "change", "http://gravatar.com/emails", :target=> '_blank'  %>
			</div>
		</td>
	</table>

<% end %>
